/* Estilizações gerais */

@font-face {
    font-family: OCRAStd;
    src: local(OCRAStd), url(./assets/OCRAStd.otf);
}

body {
    margin: 0px;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    font-family: OCRAStd;
    background-image: url(./assets/alien-body.png);
    background-size: contain;
    background-repeat: no-repeat;
}

main {
    padding: 2%;
    padding-bottom: 0%;
    padding-top: 1%;
    margin: 0px;
    background-image: url(./assets/texture-scanline-lines.png);
    background-repeat: repeat-x;
}

h1 {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    margin: 0px;
    text-align: right;
}

h2 {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 30px;
    font-size: x-large;
    justify-content: space-between;
}

input {
    font-family: OCRAStd;
    color: yellow;
    background: none;
    border: none;
    text-align-last: center;
    outline: auto;
}

input[type="number"] {
    width: 50px;
    height: 50px;
    font-size: xx-large;
    outline: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #102121;
    font-weight: bolder;
    border-radius: 20% 0%;
    outline: solid 1px #00BCD4;
}

input[type="text"] {
    font-size: x-large;
    width: 60%;
    font-family: OCRAStd;
    outline: none;
    text-align-last: left;
    color: yellow;
    background: none;
    margin-left: 20%;
}

/*FICHA*/
.apresentacao {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-image: url(./assets/alien-background.svg);
    background-size: cover;
}

.personagem {
    display: flex;
    text-align: center;
    font-size: 30px;
}

.vida {
    display: flex;
    font-size: x-large;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    align-content: start;
    margin-top: 50px;
    float: left;
    width: 18%;
    gap: 15px;
}

div.vida {
    display: flex;
    align-content: space-between;
}

label.personagem, input.personagem, label.vida {
    font-size: 40px;
}

/*ATRIBUTOS E HABILIDADES*/
.section {
    margin-top: 15%;
    display: flex;
    align-items: center;
    place-content: center;
}

.centralizar {
    justify-content: left;
    font-size: 45px;
    font-family: OCRAStd;
    font-weight: 400;
    font-style: normal;
}

.atributos-container {
    display: contents;
}

.atributo-coluna {
    border-bottom: double;
    text-align-last: center;
    padding: 0 10px;
}

label.rolar.atributo {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

label.rolar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/*CSS MODAL*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-image: url(./assets/modart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #eeff00;
    width: 70%;
    min-height: 50%;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 40px;
    font-weight: bold;
    outline: #00e1ff;
}

.close:hover, .close:focus {
    color: rgb(255, 0, 0);
    text-decoration: double;
    cursor: pointer;
}

.modal-title {
    text-align: center;
    place-content: center;
    padding: 25px;
}

.resultado-container {
    display: flex;
    justify-content: space-between;
}

.resultado-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
}

.resultado-grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    font-size: 20px;
    font-weight: bold;
}

.resultado-base {
    background-color: blue;
    color: white;
    border-radius: 15%;
}

.resultado-base.critico {
    background-color: green;
    border-radius: 15%;
}

.resultado-estresse {
    background-color: blue;
    color: #fff;
    border-radius: 15%;
}

.critico {
    background-color: green;
    color: white;
    border-radius: 15%;
}

.critico.estresse-critico {
    background-image: url(./assets/alien-stress-fail.png);
    background-size: contain;
    background-color: yellow;
    font-size: 1px;
    border-radius: 15%;
    font-size: 0px;
}

footer {
    font-size: xx-small;
    text-align: center;
    margin-top: 5%;
}



/* Media Queries para telas menores que 600px */
@media (max-width: 1000px) {
    .atributos-container {
        flex-direction: column;
    }

    .centralizar{
        font-size: 15px;
    }

    .personagem{
        font-size: 15px;
    }

    .atributo-coluna {
        width: 100%;
        padding: 0;
        display: flex;
        place-content: space-evenly;
    }

    .checkbox-group div {
        width: 100%;
    }

    .vida {
        width: 100%;
        font-size: larger;
        align-items: center;
        margin-bottom: 25px;
    }

    .section {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .resultado-grid div {
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
        label.rolar, label.rolar.atributo, input[type="number"], input[type="text"] {
        width: 100%;
        font-size: 15px;
        margin: 5px 10px;
    }

    body {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    main{
        background-image: none;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: large;
        gap: 10px;
        display: table-row;
        flex-flow: row;
        align-content: center;
        flex-wrap: wrap;
    }

    input[type="number"] {
        width: 30px;
        height: 30px;
        font-size: large;
        border-radius: 10%;
    }
}
